img {
  width: 100%;
}

.visual {
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: repeat(4, auto);
  justify-items: center;

  &__bg {
    grid-column: 1;
    grid-row: 1 / 5;
    width: 88%;
    max-width: 450px;
    margin-top: 32px;
  }

  &__photo {
    grid-column: 1;
    grid-row: 2 / 4;
    width: 68%;
    max-width: 350px;
    margin-top: 36px;
    border-radius: 4px;
  }

  &__arrows {
    grid-column: 1;
    grid-row: 3 / 4;
    transform: translateY(50%);
  }

  &__arrows button {
    background-color: hsl(0, 0%, 100%);
    border: none;
    // box-shadow: DOPLNIT;
    
    &:hover {
      cursor: pointer;
      background-color: hsl(260, 52%, 94%);
      // onmouseenter zvětšit width elementu arrows button img ???
    }
  }

  &__arrow--left {
    border-radius: 50% 0 0 50%;
    padding: 12px 16px 12px 12px;
    transform: translateX(5px);
  }

  &__arrow--right {
    border-radius: 0 50% 50% 0;
    padding: 12px 12px 12px 16px;
    transform: translateX(-5px);
  }

  &__arrows button img {
    width: 80%;
  }
}