@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");
img {
  width: 100%;
}

.visual {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100vw;
      grid-template-columns: 100vw;
  -ms-grid-rows: (auto)[4];
      grid-template-rows: repeat(4, auto);
  justify-items: center;
}

.visual__bg {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1 / 5;
  width: 88%;
  max-width: 450px;
  margin-top: 32px;
}

.visual__photo {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
  width: 68%;
  max-width: 350px;
  margin-top: 36px;
  border-radius: 4px;
}

.visual__arrows {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.visual__arrows button {
  background-color: white;
  border: none;
}

.visual__arrows button:hover {
  cursor: pointer;
  background-color: #ede8f8;
}

.visual__arrow--left {
  border-radius: 50% 0 0 50%;
  padding: 12px 16px 12px 12px;
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
}

.visual__arrow--right {
  border-radius: 0 50% 50% 0;
  padding: 12px 12px 12px 16px;
  -webkit-transform: translateX(-3px);
          transform: translateX(-3px);
}

.visual__arrows button img {
  width: 80%;
}

.text {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  text-align: center;
}

.text--hidden {
  display: none;
}

.text::before {
  content: "";
  display: block;
  height: 48px;
  background-image: url(../images/pattern-quotes.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  -webkit-transform: translateY(24px);
          transform: translateY(24px);
}

.text::after {
  content: "";
  display: block;
  height: 80px;
  background-image: url(../images/pattern-curve.svg);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
}

.text__testimonial {
  margin: 0;
  padding: 0 32px;
  line-height: 1.4;
  font-size: 18px;
}

.text__name {
  margin-bottom: 0;
  font-weight: 700;
}

.text__role {
  margin: 0;
  font-weight: 500;
  color: #babacf;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, :after, :before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: #202046;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100vw;
      grid-template-columns: 100vw;
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  justify-items: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

/* 
The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

*/
/*# sourceMappingURL=styles.css.map */