@import "variables", "visual", "text";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
  margin: 0;
  font-family: $font-primary;
  font-weight: 300;
  color: $color-dark-blue;
}

@media screen and (min-width: 1000px) {
  .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  justify-items: center;
  align-items: center;
}

.attribution {
  font-size: 11px; 
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}

@media screen and (min-width: 1000px) {
  .attribution {
    font-size: 14px; 
    position: absolute;
    bottom: 0;
    right: 8px;
  }
}